.punch--tooltip {
  position: absolute;
  top: -40px;
  left: calc(-100% - 10px);
  background: #333;
  width: 68px;
  color: #fff;
  display: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.punch--point:hover {
  .punch--tooltip {
    display: block;
  }
}
