$punch-size: 30px;

.punch {

  width: $punch-size;
  height: $punch-size;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  &--point {
    display: block;
    background: #444;
    border-radius: 100%;
    opacity: 0.9;
    position: relative;

    &:hover {
      background: #000;
    }
  }
}
